<footer>
    <div class="container">
        <p class="pull-right"><a href="#">&{'backToTop'}</a></p>
        <p class="pull-left"><a href="http://playframework.org"><img src="/public/images/play.png" /></a></p>
        <p> &{'licensedUnderThe'} <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache v2.0</a></p>
    </div>
</footer>
 <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/prettify.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap-transition.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap-alert.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap-modal.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap-dropdown.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap-scrollspy.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap-tab.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap-tooltip.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap-popover.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap-button.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap-collapse.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap-carousel.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap-typeahead.js'}"></script>