/qibud-server/public/shared
/qibud-server/tmp
/qibud-server/lib
/qibud-server/db
/qibud-server/test-result
/qibud-server/logs
/qibud-server/modules
/qibud-server/nbproject
/qibud-server/budstore
/modules/base-buds/commands.pyc
/modules/base-buds/nbproject
/modules/base-buds/tmp
/modules/base-buds/modules
/modules/base-buds/lib
/modules/base-buds/dist
/modules/project-buds/commands.pyc
/modules/project-buds/nbproject    
/modules/project-buds/tmp
/modules/project-buds/modules
/modules/project-buds/lib
/modules/project-buds/dist
/modules/budstore/commands.pyc
/modules/budstore/lib
/modules/budstore/tmp
/modules/budstore/nbproject
/modules/budstore/modules
/modules/budstore/dist
/modules/core-client/commands.pyc
/modules/core-client/tmp
/modules/core-client/nbproject
/modules/core-client/modules
/modules/core-client/lib
/modules/core-client/dist
/nbproject
