#{extends 'main.html' /}
#{if flash.success}
    <div class="alert-message success">
    <a class="close" href="@{Application.show(r.id)}">×</a>
    <p><strong>Bien joué!</strong> ${flash.success}</p>
    </div>
#{/if}
#{if flash.error}
    <div class="alert-message error">
    <a class="close" href="@{Application.show(r.id)}">×</a>
    <p><strong>Oops =/</strong> ${flash.error}</p>
    </div>
#{/if}
<section id="buds">
    <div class="page-header">
        
    <ul class="tabs">
        <li class="dropdown" data-dropdown="dropdown">
          <a href="#" class="dropdown-toggle">Bud it!</a>
          <ul class="dropdown-menu">
            <li><a  href="#">Ajouter un bud</a></li>
            <li><a  href="#">Mettre ce bud dans mon porte-bud</a></li>            
            <li class="divider"></li>
            <li><a href="#">Ajouter un bug!</a></li>
            <li><a href="#">Ajouter une idée!</a></li>
            <li class="divider"></li>
            <li><a href="#">Ajouter un projet!</a></li>
            <li><a href="#">Ajouter une mission!</a></li>
            <li class="divider"></li>
            <li><a href="#">Ajouter une action!</a></li>
            <li><a href="#">Ajouter un résultat!</a></li>
            <li><a href="#">Ajouter un choix!</a></li>
            <li class="divider"></li>
            <li><a href="#">Ajouter une Team!</a></li>
          </ul>
        </li> 
        <li class="dropdown" data-dropdown="dropdown">
          <a href="#" class="dropdown-toggle">Evolve it!</a>
          <ul class="dropdown-menu">
            <li><a href="#">Evolue en bug!</a></li>
            <li><a href="#">Evolue en idée!</a></li>
            <li class="divider"></li>
            <li><a href="#">Evolue en projet!</a></li>
            <li><a href="#">Evolue en mission!</a></li>
            <li class="divider"></li>
            <li><a href="#">Evolue en action!</a></li>
            <li><a href="#">Evolue en résultat!</a></li>
            <li><a href="#">Evolue en choix!</a></li>
            <li class="divider"></li>
            <li><a href="#">C'est une Team!</a></li>
            <li><a href="#">Redeviens bud</a></li>
          </ul>
        </li>
         <li class="dropdown" data-dropdown="dropdown">
          #{if flash.success}
            #{if flash.get("budtype") == "team"}
            <a href="#" class="dropdown-toggle"><span class="label success">new</span> Share it!</a>
            #{/if}
            #{else}
            <a href="#" class="dropdown-toggle">Share it!</a>
            #{/else}
          #{/if}
          #{else}
          <a href="#" class="dropdown-toggle">Share it!</a>
          #{/else}
          <ul class="dropdown-menu">            
            <li><a  href="#">Partager</a></li>
          </ul>
        </li>
    </ul> 
        <ul class="breadcrumb">    
        </ul>      
        <h6>qi:${b.graphdata.qi}      
        <span class="label">Bud</span>
        publié le ${b.entity.postedAt}  
        </h6>
    </div>
    
</section>


<div class="hero-unit">
    <h1>${b.entity.title}</h1>
    <p>${b.entity.content}</p>
    <a href="@{Buds.getAttachment(b.uri)}">Attachment</a>
</div>
<section id="comments">
    <div class="page-header">
        <h3>Commentaires</h3>
    </div>
</section>




   