#{extends 'main.html' /}
#{set title:'Bud' /}
#{if flash.success}
<div class="alert-message success">
    <a class="close" href="@{Buds.index()}">×</a>
    <p><strong>&{'gg'}</strong> &{'longLife'}</p>
</div>
#{/if}
#{else}
#{ifErrors}
<div class="alert-message error">
    <a class="close" href="#">×</a>
    <p><strong>&{'oops'}</strong>&{'lackOfInfo'}</p>
</div>
#{/ifErrors}
#{form @basebuds.Persons.create(), method:'POST', enctype:'multipart/form-data'}                   
<section id="newbud">
    <div class="page-header">
        <h1>Persons</h1>
    </div>
    <div class="clear-fix">
        <label for="budTitle"><strong>&{'fullname'}: </strong></label>
        <div class="input">
            <input class="xlarge" type="text" name="budTitle" size="60px" maxlength="40" value="${flash.budTitle}" class="required" />
        </div>
    </div>
    <div class="clear-fix">
        <label for="content"><strong>Bio: </strong></label>
        <div class="input">
            <textarea name="content" rows="15" cols="80" class="tinymce">${flash.content}</textarea>
            <span class="help-block">
                Lachez-vous !
            </span>
        </div>
    </div>
    <div class="clear-fix">
        <label for="file"><strong>Fichier joint: </strong></label>
        <div class="input">
            <input class="input-file" type="file" name="file"/>
        </div>
    </div>
    <div class="well">
        <input class="btn primary" type="submit" /> <a class="btn default" href="@{basebuds.Persons.index()}">annuler</a>
    </div>


    #{/form}
</section>
#{/else}


